$colorRed: #f38181;
$colorYellow: #fce38a;
$colorGreen: #eaffd0;
$colorBlue: #95e1d3;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGray: #999999;
$colorGrayLight: #e5e5e5;
$colorGrayRegular: #e7e7e7;
$colorGrayDark: #999999;
