$containerWidth: 1152px;
$iconSize: 20px;
$serviceIconSize: 32px;
$borderWidth: 3px;
$imageTranslatelength: 10px;
$footerInputWidth: 230px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$size0: 0px;
$size1: 2px;
$size2: 4px;
$size3: 8px;
$size4: 12px;
$size5: 16px;
$size6: 24px;
$size7: 32px;
$size8: 48px;
$size9: 64px;

$gradient: linear-gradient(
  0deg,
  rgb(252, 227, 138, 0.5) 0%,
  rgb(243, 129, 129, 0.5) 100%
);
